
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root{
     --letrapagina:font-family: "Source Code Pro", monospace;
    
     --fondoheader: cornflowerblue;
     --colorheader: aqua;
    
     --fondotitulosuperior: #0a33ed;
     --colortitulo:white;
    
     --fondotituloinferior:#0db7f7;
    
     --fondoseccion:#eaeded ;
     --colorseccion: gray;
    
     --fondotituloseccion:#0db7f7;
     --colortituloseccion:white;

     --fondofooter:#0db7f7;
     --colorfooter: white;

} 
/* reseteo universal */
*¨ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* defino el estilo del body */
body {
    font-family: var(--letrapagina);
    background-image: url(../assets/fondo/round.png);
}




/* defino el estilo del encabezado */
header{
    background-color: var(--fondoheader);
    color: var(--colorheader);
    text-align: center;
}



/* defino las clases de los titulos dentro del header */
.titulosuperior{
   background-color: #0a33ed;
   padding: 10px;
   letter-spacing: 5px;
}

.titulocentro{
    color:var(--colortitulo);
    font-family: "Caveat", cursive;
    font-size: 40px;
    margin: 26px;
    word-spacing: 8px;
    letter-spacing: 5px;
}

.tituloinferior{
font-size: 20px;
background-color:var(--fondotituloinferior);
color: white;
text-align: right;
padding: 10px;

}




/* estructura principal de la página */

/* defino las secciones */
section{
    width: 80%;
    background-color:var(--fondoseccion);
    color:var(--colorseccion);
    text-align: justify;
    padding-bottom: 20px;
    margin: 25px auto;
}




/* defino el titulo dentro de las secciones */
section h2{
    background-color: var(--fondotituloseccion);
    color:var(--colortituloseccion);
    padding: 10px 10px;
}





/* defino la lista no ordenada dentro de las secciones */
section ul{
    margin-left: 70px;
}




/* defino los parrafos dentro de las secciones */
section p{
    padding: 0 20px;
    margin: 16px 0;
}




/* estilo de los articulos */
article{
    margin: 20px auto;
    text-align: center;
}



/* defino el estilo de las imágenes dentro de los articulos */
article img{
    width: 60%;
    height: 50%;
    box-shadow: 15px 15px 20px gray;
}


/* defino el estilo del pie de página */
footer{
    background-color: #0db7f7;
    color: white;
    text-align: center;
}



/* Definimos los estilos de Formulario */

/* definimos la clase formulario que da formato a la seccion */
.formulario{
    width: 60%;
    margin: 50px auto;
    padding: 15px;
}




/* definimos el titulo dentro de la clase formulario */
.formulario h2{
    margin-bottom: 20px;
}



/* definimos la etiqueta formulario */
form{
    text-align: left;
}




/* definimos las etiquetas que forman parte del formulario */
input, textarea, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}



/* definimos las clases de los botones del formulario */
.guardar, .cancelar{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 10px;
}

.guardar{
background-color: #0a33ed;
color: white;
animation: latir 1.5s ease-in infinite;
}

@keyframes latir{
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(10, 10 , 10 , 0.4);
    }

    70%{
        transform: scale(1.05);
        box-shadow:  0 0 0 15px rgba(30, 144 , 255 , 0);
    }

    100%{
         transform: scale(1);
        box-shadow:  0 0 0 15px rgba(30, 144 , 255 , 0);
    }
}

/* definimos la accion cuando se pasa el mouse sobre el boton guardar */
/* .guardar:hover{
    background-color:#0db9f779 ;
} */

.cancelar{
    background-color: cornflowerblue;
    color: white;
}



/* definimos la accion cuando se pasa el mouse sobre el boton cancelar */

.cancelar:hover{
    background-color: #0db9f779;
}




/* enlace entre páginas dentro del header */
header a{
    color: #fff;
    text-decoration: none;

}




/* boton subir */